<!-- Left Sidenav -->
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <h4> {{ site.title }} </h4>
            <p class="description-short"> {{ site.description_short }} </p>
        </div>
    </li>
    {% for link in site.data.navigation %}
    <li>
        <a href="{{ site.url }}{{ link.url }}" class="black-text"> {{ link.title }} </a>
    </li>
    {% endfor %}
    <li>
        <a href="{{site.catalog_link}}"> Catalog </a>
    </li>
    <li>
        <div class="divider"></div>
    </li>

    <li>
        <a href="{{site.facebook_link}}" target="blank"> <i
                class="fab fa-facebook sidenav-icon"></i> Facebook </a>
    </li>
    <li>
        <a href="{{site.instagram_link}}" target="blank"> <i
                class="fab fa-instagram-square sidenav-icon"></i>
            Instagram </a>
    </li>
    <li>
        <a href="{{site.cv_link}}" target="blank"> <i class="fas fa-award sidenav-icon"></i> CV /
            Awards </a>
    </li>
    <li>
        <a href="{{site.email}}" target="blank"> <i class="fas fa-envelope"></i> Email </a>
    </li>
</ul>