<!doctype html>
<html>

{% include head.html %}

<body>
    <div class="body">

        {% include nav.html %}
        {% include sidenav.html %}

        {% include banner.html %}

        <!-- Body -->
        <div id="gallery">
            <div class="container">
                {% include image.html img="05.jpg"%}
                {% include image.html img="04.jpg"%}

                <div id="wabisabi" class="text-wrapper">
                    <p>{{ site.data.text[0].content }}</p>
                </div>
            </div>

            <div class="parallax-container">
                <div class="parallax"><img src="/assets/img/obras/03.jpg"></div>
            </div>

            <div class="container">
                {% include image.html img="11.jpg"%}
                {% include image.html img="12.jpg"%}

                <div class="text-wrapper">
                    <p>{{ site.data.text[1].content }}</p>
                </div>
            </div>

            <div class="parallax-container">
                <div class="parallax"><img src="/assets/img/obras/01.jpg"></div>
            </div>
            <div class="container">
                {% include image.html img="13.jpg"%}

                <div class="text-wrapper">
                    <p>{{ site.data.text[2].content }}</p>
                </div>

                {% include image.html img="01.jpg"%}
            </div>

            <div class="parallax-container">
                <div class="parallax"><img src="/assets/img/obras/06.jpg"></div>
            </div>

            <div class="container">
                {% include image.html img="11.jpg"%}
                {% include image.html img="02.jpg"%}
            </div>
        </div>


        <div id="contact">
            <!-- FIRMA -->
            <div class="image-wrapper">
                <img class="responsive-img" width="50" src="{{ site.url }}/assets/img/sig.png">
            </div>

            <!-- Contact -->
            <div class="container">
                <div class="text-wrapper">
                    <h5>Find Karina Lopez Sitja in social media</h5>
                    <ul>
                        <li>
                            <a href="{{site.facebook_link}}" target="blank"> Facebook </a>
                        </li>
                        <li>
                            <a href="{{site.instagram_link}}" target="blank"> Instagram </a>
                        </li>
                        <li>
                            <a href="{{site.cv_link}}" target="blank"> CV / Awards </a>
                        </li>
                        <li>
                            <a href="mailto:{{site.email}}" target="blank"> Email </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </div>
</body>

</html>